name: cicd

on:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set short SHA
        shell: bash
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            hasino2258/fueltrack:latest
            hasino2258/fueltrack:${{ env.SHORT_SHA }}

    outputs:
      commit_id: ${{ env.SHORT_SHA }}





  cd:
    needs: ci
    runs-on: self-hosted

    steps:




      - uses: actions/checkout@v3


      - name: Modify values file
        shell: bash
        run: |
          echo ${{needs.ci.outputs.commit_id}}
          pip install yq
          yq -i '.image.tag = "'${{needs.ci.outputs.commit_id}}'"' charts/fueltrack/values.yaml





      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          message: 'Updates values.yaml with commit ${{needs.ci.outputs.commit_id}}'


      - name: Installing argocd
        run: |
          sudo rm -f /usr/local/bin/argocd
          curl -ksSL -o argocd https://argocd-server.argocd/download/argocd-linux-amd64
          chmod +x argocd
          sudo mv ./argocd /usr/local/bin/argocd
          argocd version --client

      - name: ArgoCD login
        run: |
          argocd login argocd-server.argocd \
            --insecure \
            --grpc-web \
            --username admin \
            --password ${{ secrets.ARGOCD_PASSWORD }}
            argocd app sync fueltrack

