name: cicd

on:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.tag.outputs.sha }}

    steps:
      - uses: actions/checkout@v4

      - name: Set short SHA
        id: tag
        run: echo "sha=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            hasino2258/fueltrack:latest
            hasino2258/fueltrack:${{ steps.tag.outputs.sha }}

  cd:
    needs: ci
    runs-on: self-hosted

    steps:
      - name: Install Argo CD CLI
        run: |
          sudo rm -f /usr/local/bin/argocd
          curl -ksSL -o argocd https://argocd-server.argocd/download/argocd-linux-amd64
          chmod +x argocd
          sudo mv argocd /usr/local/bin/argocd
          argocd version --client

      - name: Login to Argo CD
        run: |
          argocd login argocd-server.argocd \
            --insecure \
            --grpc-web \
            --username admin \
            --password ${{ secrets.ARGOCD_PASSWORD }}

      - name: Update image tag & sync
        run: |
          argocd app set fueltrack \
            --helm-set image.tag=${{ needs.ci.outputs.image_tag }}

          argocd app sync fueltrack
